---
layout: home
---

{% for post in site.posts limit: 1 %}

<article class="destaque home">
<a class="post-link" href="{{ site.baseurl }}{{ post.url }}">ler post</a>
{{ post.content | split:'<!-- informações do post -->' | first }}
</article>

{% endfor %}

{% for post in site.posts limit:8 offset:1 %}
	
<article class="post-list">
<a class="post-link" href="{{ site.baseurl }}{{ post.url }}">ler post</a>
<h2 class="titulo-list">{{ post.titulo }}</h2>
{{ post.content | split:'<!-- informações do post -->' | first }}
</article>

{% endfor %}
