<!-- <p class="fb-share-button fbshare" data-href="http://paneladepau.com.br{{ page.url | remove: 'index.html' }}" data-layout="button_count"></p> -->

<p>

	<span id="fbShareCount" style="border: 1px solid #929292; border-radius: 4px; display: block; float: right; font-size: 12px; padding-top: 3px; box-sizing: border-box; text-align: center; width: 20px; height: 20px;">34</span>

	<iframe src="https://www.facebook.com/plugins/share_button.php?href=http://paneladepau.com.br{{ page.url | remove: 'index.html' }}%2F&layout=button&size=small&mobile_iframe=true&appId=1539564076286352&width=79&height=20" width="79" height="20" style="border:none;overflow:hidden;padding:0;float:right;width:79px !important;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

</p>

<script>

	var $ = '',
		chave;

	function fbShareUpdate() {

		$('#fbShareCount')

		var urlSlashless = 'http://paneladepau.com.br{{ page.url | remove: 'index.html' }}',
			urlSlashed = 'http://paneladepau.com.br{{ page.url | remove: 'index.html' }}/';

		$.get('https://graph.facebook.com/v2.7/oauth/access_token?client_id=1539564076286352&client_secret=43123eeb9dc27def91f87918b3fb4886&grant_type=client_credentials', function(data) {

			console.log(data);

			chave = data.access_token;

			$.get('https://graph.facebook.com/v2.7/?access_token=' + chave + '&debug=all&format=json&id=' + urlSlashless + '&method=get&pretty=0&suppress_http_code=1', function(data) {

				console.log(data);

				$.get('https://graph.facebook.com/v2.7/?access_token=' + chave + '&debug=all&format=json&id=' + urlSlashless + '&method=get&pretty=0&suppress_http_code=1', function(data) {

					console.log(data);

				});

			});

		});

	}

	function jQCheck() {

		if ( $ !== '') {

			fbShareUpdate();

		} else {

			setTimeout(jQCheck, 1000);

		}

	}

	jQCheck();

</script>