<body>
	<header>
		<h1 class="logo-main logo-main--internas">
			<a href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/img/layout/logo-main.png" width="100%" height="100%" alt="Panela de Pau">
			</a>
			<span>Culinária Caseira à Base de Espontaneidade e Descontração</span>
		</h1>
		
		<nav class="menu">
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Busca</a></li>
				<li><a href="#">About</a></li>	
			</ul>
		</nav>
	</header>

	<article class="destaque post">

	