<div>
	<figure>
		<span class="img">
			<img src="{{ site.baseurl }}/img/fotos-dos-posts/{{ page.imgdestaque }}" width="100%" height="100%" alt="{{ page.titulo }}">
		</span>
		<figcaption class="info">
			<h2 class="titulo">{{ page.titulo }}</h2>
			<p class="data">{{ page.date | date: "%-d/%m/%Y" }}</p>
			<div class="info-preparo">
				<p>Tempo de preparo: 20 min</p>
				<p>Rendimento: 30 porções</p>
				<p>Calorias: 300 kcal</p>
			</div>
		</figcaption>
	</figure>
</div><!-- informações do post -->