.logo-main--internas {
	width: 300px;
	height: 103px;
	margin: 10px 0;
	margin-bottom: -24px;
}

.post {
	.img {
		margin-bottom: 30px;
	}
	&>p {
		width: 950px;
		padding: 10px;
		padding-right: 20px;
		border-right: 1px solid $marromClaro;
		line-height: 1.2;
		color: $corTexto;
		text-align: justify;
	}
	&>img {
		width: 620px;
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

.g-ads-300 {
	width: 300px;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 570px;
}

.g-ads-730 {
	margin: 30px 10px;
}

.fbshare {
	margin: 10px;
	margin-top: 20px;
}