.logo-main--internas {
	width: 300px;
	height: 103px;
	margin: 10px 0;
	margin-bottom: -24px;
}

.post {
	.img {
		margin-bottom: 30px;
	}
	&>p {
		width: 950px;
		padding: 10px 10px 30px 10px;
		padding-right: 20px;
		border-right: 1px solid $marromClaro;
		line-height: 1.2;
		color: $cinza;
		text-align: justify;
	}
	.intern-img {
		width: 840px;
		margin-top: 14px;
		margin-bottom: 34px;
		float: right;
		margin-right: 390px;
		margin-left: 40px;
		figcaption {
			text-align: center;
			color: $marrom;
			font-size: 14px;
			line-height: 2;
		}
	}
	a {
		color: $marrom;
		&:hover {
			color: $marromClaro;
		}
	}
}

.g-ads-300 {
	width: 300px;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 570px;
}

.g-ads-730 {
	margin: 80px 10px;
	float: left;
}

.fbshare {
	margin: 10px;
	margin-top: 20px;
}