.logo-main--internas {
	width: 300px;
	height: auto;
	margin: 10px 0;
	margin-bottom: -24px;
}

.post {
	ul li {
		list-style: disc;
		list-style-position: inside;
	}
	ol li {
		list-style: decimal;
		list-style-position: inside;
	}
	.img {
		margin-bottom: 30px;
	}
	&>p, h3, li, &>iframe {
		width: 950px;
		padding: 10px 10px 30px 10px;
		padding-right: 20px;
		border-right: 1px solid $marromClaro;
		line-height: 1.2;
		color: $cinza;
		text-align: justify;
	}
	li {
		padding-top: 0 !important;
	}
	.intern-img {
		width: 840px;
		margin-top: 14px;
		margin-bottom: 34px;
		float: right;
		margin-right: 390px;
		margin-left: 40px;
		figcaption {
			text-align: center;
			color: $marrom;
			font-size: 14px;
			line-height: 2;
		}
	}
	a {
		color: $marrom;
		&:hover {
			color: $marromClaro;
		}
	}
	h3 {
		text-decoration: underline;
	}
}

.fbshare {
	text-align: right !important;
}

p.fb-share-button {
	padding-bottom: 10px;
}

.g-ads-300 {
	width: 300px;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 570px;
}

.g-ads-728 {
	margin: 80px 10px;
	float: left;
	width: 100%;
}

.fblikebox {
	margin: 10px;
	position: absolute !important;
	right: 0;
	top: 860px;
}

.fbcomments {
	margin: 10px;
	margin-top: 0;
}

.foto-autor {
	float: left;
	width: 220px;
	margin-left: 10px;
	margin-right: 20px;
}

.autor {
	background-color: #f1f1f1;
	overflow: hidden;
	padding-top: 30px !important;
}

.info-autor {
	margin-top: 60px;
	display: block;
}