@media only screen and (max-width : 1400px) {

	body {
		width: 960px;
	}

	header {
		width: 940px;
	}

	.destaque {
		.img {
			width: 620px;
			height: 352px;
		}
	}

	.destaque {
		.info {
			height: 352px;
		}
		.titulo {
			margin-top: 0;
			font-size: 38px;
		}
	}

	.post {
		&>p {
			width: 630px;
		}
		.intern-img {
			width: 380px;
		}
	}

	.g-ads-300 {
		top: 392px;
	}

	footer {
		width: 940px;
	}
}