@media only screen and (max-width : 1300px) {

	body {
		width: 960px;
	}

	header {
		width: 940px;
	}

	.destaque {
		.img {
			width: 620px;
			height: 352px;
		}
	}

	.destaque {
		.info {
			height: 352px;
		}
		.titulo {
			margin-top: 0;
			font-size: 38px;
		}
	}

	.post {
		&>p {
			width: 630px;
		}
		.intern-img {
			width: 520px;
		}
	}

	.g-ads-300 {
		top: 392px;
	}

	.fblikebox {
		top: 680px;
	}

	footer {
		width: 940px;
	}
}

@media only screen and (max-width : 980px) {
	body {
		width: 640px;
		font-size: 36px;
	}

	header {
		width: 600px;
		height: 130px;
		margin: 20px;
		//transition: all 0.5s;
		ul {
			margin-top: 80px;
			margin-bottom: 40px;
			display: block;
			li {
				display: block;
				float: none;
				text-align: right;
				a {
					font-size: 48px;
					line-height: 1.5;
				}
			}
		}
		&.active {
			height: auto;
		}
	}

	.menu-icon {
		display: block;
	}

	.logo-main {
		width: 300px;
		margin: 10px 0;
		margin-bottom: -24px;
	}

	.destaque {
		.info {
			height: auto;
			width: auto;
			margin: 20px;
			margin-top: 0;
			padding: 0;
			padding-left: 160px;
			float: right;
			.data {
				font-size: 24px;
			}
		}
		.titulo {
			font-size: 48px;
		}
		.img {
			border-bottom: 4px solid $marrom;
			width: 600px;
			margin: 20px;
		}
	}

	.post-list {
		width: 600px;
		height: auto;
		margin: 20px;
		.img {
			height: 352px;
			border-bottom: 4px solid $marrom;
		}
		.titulo-list {
			display: none;
		}
		.titulo {
			display: inline;
			margin-top: 0;
			font-size: 48px;
			line-height: 1;
			color: $marrom;
		}
		.info {
			height: auto;
			width: auto;
			padding: 0;
			padding-left: 100px;
			display: block;
			float: right;
			margin: 10px;
			position: relative;
			text-align: right;
			.data {
				font-size: 24px;
				position: relative;
				bottom: 0;
				margin-top: 10px;
			}
		}
	}

	footer {
		width: 600px;
		margin: 20px;
	}

	.paginacao {
		font-size: 36px;
	}

	.tags {
		font-size: 36px;
	}

	.post>p {
		margin-right: 0;
		border-right: none;
		padding-left: 20px;
		padding-right: 0;
		width: 620px;
		text-align: left;
	}

	.post {
		.intern-img {
			margin-right: 60px;
			margin-left: 50px;
			figcaption {
				font-size: 24px;
			}
		}
		.info {
			margin-bottom: 32px;
		}
	}

	.g-ads-300, .g-ads-728, .fblikebox, .fbcomments {
		display: none !important;
	}

	h2.titulo-tag {
		font-size: 48px;
		margin: 40px 0;
	}

	#AnchorBarMP {
		display: none !important;
	}

	body {
		padding-top: 0 !important;
	}
}