<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{% if page.titulo }%}{{page.titulo}} | Panela de Pau{% else %}Culinária caseira à base de espontaneidade e amor | Panela de Pau{% endif %}</title>

		<!-- Google tags -->
		<meta name="description" content="{% if page.titulo }%}{{ content | split:'kcal' | last | strip_html | truncatewords:25 }}{% else %}{{site.description}}{% endif %}">
		<meta name="author" content="Mariana Cervi Soares">
		<meta name="dcterms.rightsHolder" content="Mariana Cervi Soares">

		<!-- Facebook tags -->          
		<meta property="og:title" content="{% if page.titulo }%}{{page.titulo}} | Panela de Pau{% else %}Culinária caseira à base de espontaneidade e amor | Panela de Pau{% endif %}">
		<meta property="og:image" content="{{ site.baseurl }}/img/logo-social.jpg">
		<meta property="og:url" content="{{ site.baseurl | remove: '/index.html' }}{% if page.url }%}{{ page.url | remove: '/index.html' }}{% endif %}">
		<meta property="og:description" content="{% if page.titulo }%}{{ content | strip_html | truncatewords:25 }}{% else %}{{site.description}}{% endif %}">

		<!-- Twitter tags -->          
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{% if page.titulo }%}{{page.titulo}} | Panela de Pau{% else %}Culinária caseira à base de espontaneidade e amor | Panela de Pau{% endif %}">
		<meta name="twitter:description" content="{% if page.titulo }%}{{ content | strip_html | truncatewords:25 }}{% else %}{{site.description}}{% endif %}">
		<meta name="twitter:image" content="{{ site.baseurl }}/img/logo-social.jpg">

		<!-- Mobile viewport -->
		<meta name="viewport" content="width=device-width">

		<!-- Canonical -->
		<link rel="canonical" href="http://paneladepau.com.br{{ page.url | remove: '/index.html' }}">

		<!-- RSS Reader -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

		{% if paginator.page == 1 %}
		<!-- CSS -->
		<link rel="stylesheet" href="css/main.css">
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		{% else %}
		<!-- CSS -->
		<link rel="stylesheet" href="../css/main.css">
		<!-- Favicon -->
		<link rel="shortcut icon" href="../favicon.ico">
		{% endif %}

		<!--[if lte IE 8]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- Barra Mundo Positivo -->
		<script type="text/javascript" src="http://commons.mundopositivo.com.br/ancoragem/data.js"></script>

		<header>
			<div class="menu-icon"></div>

			<h1 class="logo-main">
				{% if paginator.page == 1 %}
				<a href="">
					<img src="img/layout/logo-main.png" width="100%" height="100%" alt="Panela de Pau">
				</a>
				{% else %}
				<a href="../">
					<img src="../img/layout/logo-main.png" width="100%" height="100%" alt="Panela de Pau">
				</a>
				{% endif %}
				<span>Culinária caseira à base de espontaneidade e amor</span>
			</h1>
			
			<nav class="menu">
				<ul>
					{% if paginator.page == 1 %}
					<li><a href="https://www.facebook.com/paneladepau" target="_blank">Facebook</a></li>
					<li><a href="contato">Contato</a></li>
					<li><a href="sobre">Sobre</a></li>
					<li><a href="javascript:void(0)" class="botao-busca">Busca</a></li>
					{% else %}
					<li><a href="https://www.facebook.com/paneladepau" target="_blank">Facebook</a></li>
					<li><a href="../contato">Contato</a></li>
					<li><a href="../sobre">Sobre</a></li>
					<li><a href="javascript:void(0)" class="botao-busca">Busca</a></li>
					{% endif %}
				</ul>
			</nav>
			<div class="campo-busca">
				<form action="javascript:void(0)">
					<input type="text" class="input-busca" placeholder="Buscar no blog...">
					<button>Buscar</button>
				</form>
				<span class="fecha-busca">X</span>
			</div>
		</header>

		{{content}}

		<footer>
			{% if paginator.total_pages > 1 %}
				<nav class="paginacao">
					{% if paginator.previous_page %}
						{% if paginator.page == 2 %}
							<a href="../" class="voltar">&laquo; Voltar</a>
						{% else %}
							<a href="../pagina-{{ paginator.page | minus:1 }}" class="voltar">&laquo; Voltar</a>
						{% endif %}
					{% endif %}
					{{ paginator.page }} / {{ paginator.total_pages }}
					<!-- {% for page in (1..paginator.total_pages) %}
						{% if page == paginator.page %}
							<em>{{ page }}</em>
						{% elsif page == 1 %}
							<a href="{{ '../' | replace: '//', '/' }}">{{ page }}</a>
						{% else %}
							{% if paginator.page == 1 %}
								<a href="pagina-{{ page }}">{{ page }}</a>
							{% else %}
								<a href="../pagina-{{ page }}">{{ page }}</a>
							{% endif %}
						{% endif %}
					{% endfor %} -->
					{% if paginator.next_page %}
						{% if paginator.page == 1 %}
							<a href="pagina-{{ paginator.page | plus:1 }}" class="mais">Mais &raquo;</a>
						{% else %}
							<a href="../pagina-{{ paginator.page | plus:1 }}" class="mais">Mais &raquo;</a>
						{% endif %}
					{% endif%}
				</nav>
			{% endif %}

			<section class="tags">
				<span class="rotulo-tags">tags:</span>
				{% for tag in site.tags %}
				    <li style="font-size: {{ tag | last | size | times: 20 | divided_by: site.tags.size | plus: 70 }}%">
				    	{% if paginator.page == 1 %}
				        <a href="tags/{{ tag | first | slugify }}/">
				            {{ tag | first }}
				        </a>
				        {% else %}
				        <a href="../tags/{{ tag | first | slugify }}/">
				            {{ tag | first }}
				        </a>
				        {% endif %}
				    </li>
				{% endfor %}
			</section>

			{% include signature.html %}
		</footer>

		{% include google_analytics.html %}

		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		{% if paginator.page == 1 %}
		<script src="js/menu.js"></script>
		<script src="js/busca.js"></script>
		{% else %}
		<script src="../js/menu.js"></script>
		<script src="../js/busca.js"></script>
		{% endif %}
	</body>
</html>
