<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ page.titulotag }} | Panela de Pau</title>

		<!-- Google tags -->
		<meta name="description" content="{{ page.descricaotag }}">
		<meta name="author" content="Mariana Cervi Soares">
		<meta name="dcterms.rightsHolder" content="Mariana Cervi Soares">

		<!-- Facebook tags -->          
		<meta property="og:title" content="{{ page.titulotag }} | Panela de Pau">
		<meta property="og:image" content="{{ site.baseurl }}/img/logo-social.jpg">
		<meta property="og:url" content="{{ site.baseurl }}{{ page.url | remove: '/index.html' }}">
		<meta property="og:description" content="{{ page.descricaotag }}">

		<!-- Twitter tags -->          
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ page.titulotag }} | Panela de Pau">
		<meta name="twitter:description" content="{{ page.descricaotag }}">
		<meta name="twitter:image" content="{{ site.baseurl }}/img/logo-social.jpg">

		<!-- Mobile viewport -->
		<meta name="viewport" content="width=device-width">

		<!-- Canonical -->
		<link rel="canonical" href="http://paneladepau.com.br{{ page.url | remove_last:'/' }}">

		<!-- RSS Reader -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

		<!-- CSS -->
		<link rel="stylesheet" href="../../css/main.css">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../favicon.ico">

		<!--[if lte IE 8]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<!-- Barra Mundo Positivo -->
		<script type="text/javascript" src="http://commons.mundopositivo.com.br/ancoragem/data.js"></script>

		<header>
			<div class="menu-icon"></div>

			<h1 class="logo-main logo-main--internas">
				<a href="../../">
					<img src="../../img/layout/logo-main.png" width="100%" height="100%" alt="Panela de Pau">
				</a>
				<span>Culinária caseira à base de espontaneidade e amor</span>
			</h1>			

			<nav class="menu">
				<ul>
					<li><a href="https://www.facebook.com/paneladepau" target="_blank">Facebook</a></li>
					<li><a href="../../contato">Contato</a></li>
					<!-- <li><a href="#">Busca</a></li> -->
					<li><a href="../../sobre">Sobre</a></li>	
				</ul>
			</nav>
		</header>

		{{content}}

		<footer>
			<section class="tags">
				<span class="rotulo-tags">tags:</span>
				{% for tag in site.tags %}
				    <li style="font-size: {{ tag | last | size | times: 20 | divided_by: site.tags.size | plus: 70 }}%">
				        <a href="../../tags/{{ tag | first | slugify }}/">
				            {{ tag | first }}
				        </a>
				    </li>
				{% endfor %}
			</section>
			
			{% include signature.html %}
		</footer>

		{% include google_analytics.html %}

		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="../../js/menu.js"></script>
	</body>
</html>
